In [15]:
#QUESTION1
##- 22?7=37
##- 큰수+두 수의 차
##-22+(22-7)##

In [16]:
import pandas as pd

In [9]:
#문제와 정답 만들기
#1.문제와 정답을 담을 공간 만들기- 리스트
list1=[]

#1부터 199까지 동작하는 for문 만들기(변수a)
for a in range(1,200):
    #1부터 199까지 동작하는 for 문 만들기(변수  b)
     for b in range(1,200):
        #규칙을 통해 a와 b를 연산한 결과 만들기(변수 result)
        if a>b:
            result = a+(a-b)
        else:
            result = b+(b-a)
            #리스트에 문제(a,b)와 정답 (result) 담기
            list1.append([a,b,result])

In [14]:
#list1을 dataframe으로 만드는데
#컬럼 이름을 a,b,result 
#dataframe(자료, column=[])
data = pd.DataFrame(list1, columns = ["a","b","result"])
#데이터 준비 완료

In [23]:
#데이터를 문제와 정답으로 분리
#문제 = x
#정답 = y
#loc[행, 열]
x = data.loc[:,["a","b"]]
y = data.loc[:,"result"]

## 머신러닝 모델에 학습시키기

In [ ]:
#데이터를 문제와 정답으로 분리

#머신러닝 모델에 학습시키고
#머신러닝 모델이 규칙을 찾는지 확인해보자

In [24]:
##머신러닝 모델에 학습시키기
#머신러닝 모델 받아오기
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor()

#모델에 학습(fit)시키기
#fit(문제데이터, 정답데이터)
random_forest.fit(x,y)

RandomForestRegressor()

In [ ]:
#머신러닝 모델이 규칙을 찾는지 확인해보자

In [26]:
data

         a    b  result
0        1    1       1
1        1    2       3
2        1    3       5
3        1    4       7
4        1    5       9
...    ...  ...     ...
19895  197  198     199
19896  197  199     201
19897  198  198     198
19898  198  199     200
19899  199  199     199

[19900 rows x 3 columns]

In [27]:
##머신러닝 모델이 규칙을 찾았는지 확인

In [28]:
#predict(문제데이터)
random_forest.predict([[22,7]])

array([7.43])

In [29]:
random_forest.score(x,y)

0.9999974163187413